body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

header{
    background-color: #22438c;
    color: black;
    padding: 15px 10px;
    /* position: fixed; */
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    /* margin: 0 auto; */
    padding: 0 30px;
}

.logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; 
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

nav ul li a:hover{
    color: darkorange;
}

nav ul li ul.dropdown li{
    display: block;
}

nav ul li ul.dropdown{
    width: 100%;
    margin-left: 220px;
    background: #22438c;
    position: absolute;
    z-index: 999;
    display: none;
}

nav ul li a:hover{
    text-decoration: underline;
}
nav ul li:hover ul.dropdown{
    display: block;
}


/* --------------------Section----------- */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.content {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
}
.content:hover{
    background-color:khaki;
}
.sidebar {
    background-color: #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.sidebar:hover{
    background-color:khaki;

}

/* ------------------image------------- */

.row{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: 20px;
    gap: 5px;
    transition: all 300ms ease-in-out;
}

.row img:hover{
    transform: scale(1.1) ;

}
/*---------------- image end------------ */

/* ---------------card start-------- */
.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100%;
    height: auto;
  }
  .card img:hover{
    transform: scale(1.1);
  }

  .card-content {
    padding: 20px;
  }

  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 1rem;
    color: #555;
  }

  /* -------------card end---------- */


  /* --------------pricing table start------- */

  .pricing-table {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 50px;
}

.plan {
    background-color: #fff;
    padding: 30px;
    margin: 0 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.plan:hover {
    transform: translatey(-10px);
}

.plan h2 {
    color: black;
}


.price {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
  /* ---------------pricing table end------- */

/* -----------------Modal Start----------- */
  .modal {
    height: 400px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -38%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

button:hover{
    background-color:wheat;
}

.modal-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* -----------------Modal end----------- */

.surname{
    margin-top: 50px;
    margin-left: 50px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.suname form{
    width: 200px;
}

  #surnameField:not(:checked) + .surnameInput {
    display: inline-block;
  }

  #surnameField:checked + .surnameInput {
    display: none;
  }


.row2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}




  /* --------------map--------- */


  /* ---------------------form start------ */

  .container3 {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="radio"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


/* ---------------------form end------ */

  

marquee{
    color: blue;
    font-weight: bold;
    font-style: italic;
}

/* ----------footer---------- */
 footer{
    margin-top: 20px;
    text-align: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    background-color: #22438c;
}

footer p{
    color: #fff;
}

.copy{
    margin-left: 30px;
    font-size: 20px;
    text-align: center;
}
.icon{
    justify-content: space-between;
    font-size: 30px;
}

.icon a{
    border: 2px solid #22438c;
    border-radius: 10px;
}

.icon a:hover{
    background-color: #007bff;
}










/* Responsive Styles */


@media only screen and (max-width: 1024px) {
    nav ul li ul.dropdown{
    width: 140px;
    }  
}

@media only screen and (max-width: 769px) {
    nav ul li ul.dropdown{
    width: 140px;
    }  

    /* --------------- */
    .map{
        position: relative;
        width: 300px;
        margin-left: -35px;
    }
    /* -------------- */
    .surname{
        display: block;
    }
    .surname input{
        width: 200px;
        margin-left: -100px;
    }
    .surname audio{
        margin-left: -50px;
    }

    /* ------------- */
    .row2{
        display: block;
    } 
    .row2 .col1 img{
        position: relative;
        width: 280px;
        margin-left: -20px;
    }
}

@media only screen and (min-width: 600px) {
    main {
        flex-direction: row;
    }
    .content, .sidebar {
        flex: 1;
        margin: 0 10px;
    }

    .pricing-table {
        gap: 10px;
    }

    .container{
        margin-left: 80px;
    }

    .main{
        margin-left: 30px;
    }
}

@media only screen and (max-width: 426px) {

    .container{
        display: grid;
        text-align: center;
    }
    nav ul li ul.dropdown{
    width: 120px;
    }  
    nav ul li a{
        font-size: 13px;
    }

    .container{
        margin-left: 40px;
    }
}

@media only screen and (max-width: 376px) {
    nav ul li ul.dropdown{
        margin-left: 0;
        width: 100px;
    } 
    
    .container{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 321px) {

    nav ul{
        display: grid;
    }
    nav ul li ul.dropdown{
        width: 100px;
        margin-left: 10px;
    } 
    
    .main{
        margin-left: 10px;
    }
    .container{
        margin-left: 0px;
    }
}



